



<h1>My Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
      <%= image_tag list.image_url, alt: list.name, class: 'list-thumbnail' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a movie list', new_list_path, class: "btn btn-danger" %>
